.input-container {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  input{
    line-height: 2px;
    padding: 5px;
    padding-left: 10px;
  }
}
