body {
  background: linear-gradient(to left, #f5f7fa 70%, #f5f0ea 100%);
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: #777;
}

section {
  width: 100%;
}

.error {
  color: #bd0f0f;
  margin: 5px;
}

.btn {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  background-color: #777;
  border: none;
  color: #fff;
  cursor: pointer;
}

.loader {
  color: #777;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
