.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  padding-top: 150px;
  z-index: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);

  .modal-content {
    width: 600px;
    height: 200px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px;
  }
  .pop-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        margin: 5px;
    }
    
  }

  .title label{
    font-weight: 800
  }
}
